<h2 class="title is-2">Tickets 🛒 </h2>
<section class="hero is-danger">
    <div class="hero-body">
        <p style="font-size: 18px;">
            🎟️ <strong>Las entradas están volando</strong> y no queremos que te lo pierdas.
            Te recomendamos <strong>conseguir la tuya cuanto antes</strong> para asegurar tu plaza.
            <br>
            Con tu entrada podrás disfrutar de <strong>todas las ventajas y experiencias</strong> que hemos preparado con mucha ilusión.
            <br>
            <strong>¡No dejes pasar esta oportunidad</strong>, será un placer verte allí!
          </p>
        <br>
        <a href="{{ TICKETS_LINK }}" target="_blank">
            <button class="button is-medium button is-link is-light">Ir a tienda</button>
        </a>
    </div>
</section>
<br><br>
