<h2 class="title is-2">Llamada a ponentes (CFP) 📜 </h2>
<section class="hero is-info">
  <div class="hero-body">
    <p class="is-size-5">¿Te gustaría ser ponente? 📢 </p>
    <br>
    <p style="font-size: 18px;">¡Tenemos grandes noticias! Ya está abierta la <strong>llamada a propuestas de charlas</strong>.</p>
    <p style="font-size: 18px;">Buscamos personas de <strong>todos los niveles</strong>, <strong>disciplinas</strong> y <strong>trayectorias</strong>.</p>
    <p style="font-size: 18px;">Si tienes algo que compartir, <strong>este es tu momento</strong>. ¡Queremos escucharte y <strong>aprender contigo</strong>! 🎸</p>
    <br><br>
    <a href="{{ CALL_FOR_PAPERS_LINK }}" target="_blank">
      <button class="c4p-button button">Enviar mi ponencia</button>
    </a>
  </div>
</section>
<br><br>
